@model IEnumerable<ECommerceMVC.ViewModels.HangHoaVM>
@{
    ViewData["Title"] = "Search";
    Layout = "_DanhSachHangHoa";
}

<h1>Search</h1>
<h6> Have @Model.Count() product</h6>
@await Html.PartialAsync("ProductItem", Model)




